.text-center {
  text-align: center;
}

header {
  margin: 50px 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff !important;
  background-color: #7952b3;
  border-color: #7952b3;

  &:active,
  &:hover {
    color: #fff;
    background-color: #614092;
    border-color: #614092;
    text-decoration: none;
  }
}
